*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.back-graound-image{
    height: 500px;
    background-image: url(img/img3.jpg) ,linear-gradient(rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.664)) ;
    /* filter: brightness(110%); */
    opacity: 95%;
 background-blend-mode: overlay;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
}
.top-information-header{
background-color: rgb(44,50,64);
display: flex;
gap: 650px;
padding: 20px;
}
.information-header{
    display: flex;
    gap: 20px;

}
.quection p{
    font-weight: bold;
    color: grey;

}
.call-div span{
    font-weight: bold;
    color: white;
}
.email-div span{
    color: white;
}
.email-div span a{
    font-weight: bold;
    color: white;
    text-decoration: none;

}
.social-media-info{
    display: flex;
    gap: 20px;
}
.social-media-info i{
    color: white;
}
.musical-header{
    display:flex;
    gap: 500px;
    padding: 15px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.479); */

}
.nav ul{
    display: flex;
padding-top: 15px;
gap: 25px;
text-align: center;

}

.moon-class{
    color: white;
    font-size: 20px;
}

 .list{
    position: relative;
}

 .menu{
    position: absolute;
    top: 30px;
    left: -30px;

}
.sublist{
    padding: 15px;
    background-color:rgba(0, 0, 0, 0.712);
    width: 160px;
    border-radius: 5px;
    display: none;
    
}

.list:hover .sublist{
    transition: 2s ease all;
    display: block;
}


.musical-logo{
    font-size: 30px;
    font-weight: bolder;
    color: white; 
}
.musical-logo span i{
    color: rgba(255,76,76);
}

.musical-header .nav li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    transition: 0.6s all ease;

}
.musical-header .nav li .red{
    color: rgba(255,76,76);
}
.musical-header .nav li a:hover{
    color: rgba(255,76,76);
}
.musical-header li{
    list-style: none;
}
.search-btn button{
    width: 200px;
    border-radius: 20px;
    padding: 10px;

}
.musical-content-hero-img{
    padding-top: 100px;
    padding-left: 70px;

}
.musical-content-hero-img h4{
    font-size: 20px;
color: white;
padding-bottom: 20px;
}
.musical-content-hero-img h1{
padding-bottom: 40px;
font-size: 75px;
color: white;
}
.musical-content-hero-img button{
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: rgba(255,76,76);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    transition: 0.6s all ease;

}
.musical-content-hero-img button:hover{
background-color: skyblue;
}


.about-us-next-section  {
    padding-top: 150px;
    padding-left: 580px;

}
.about-us-next-section h1{
        font-size: 40px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
}
.about-us-next-section p{
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 10px;
}
.btn-bar{
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: block;
}

/*===================media query=============================== */

@media only screen and (max-width:576px) {
    .back-graound-image{
        height: 500px;
    
    }
    .top-information-header{
    background-color: rgb(44,50,64);
    display: flex;
    gap: 80px;
    padding: 30px;
    }
    .information-header{
        display: flex;
        gap:15px;

    }
    .quection p{
        display: none;
    }
    .musical-logo{
        font-size: 25px;
    }
   nav{
    display: none;
   }

   .about-us-next-section  {
    padding-top: 130px;
    padding-left: 170px;

}

.musical-header{
    gap: 350px;

}
/* ============ */

.btn-bar{
    display: block;
    position: relative;
    
}


nav .new-btn{
    display: block;
    background-color:rgba(0, 0, 0, 0.658);
    width: 170px;
    border-radius: 10px;
    position:absolute ;
    top: 100px;
    right: 0;
}

  header  .musical-header .new-btn ul{

    display: flex;
    flex-direction: column;
}
/* header  .musical-header nav .new-btn .nav{
    display: block;
    background-color: black;
} */

}

@media only screen and (min-width:576px) {
    .back-graound-image{
        height: 500px;
    
    }
    .top-information-header{
    background-color: rgb(44,50,64);
    display: flex;
    gap: 80px;
    padding: 30px;
    }
    .information-header{
        display: flex;
        gap:15px;

    }
    .quection p{
        display: none;
    }
    .musical-logo{
        font-size: 25px;
    }
   nav{
    display: none;
   }

   .about-us-next-section  {
    padding-top: 130px;
    padding-left: 170px;

}


}
@media only screen and (min-width:768px) {
  
    .top-information-header{
    gap: 130px;
    padding: 20px;
    }
    .information-header{
        gap:15px;

    }
    .quection p{
        display: block;
    }
    .musical-logo{
        padding-top: 5px;
        font-size: 22px;
    }
   nav{
    display: block;
   }

   .about-us-next-section  {
    padding-top: 130px;
    padding-left: 270px;

}
.musical-header{
    display:flex;
    gap: 160px;
    padding: 15px;
}




}
@media only screen and (min-width:992px) {
  
    .top-information-header{
    gap: 330px;
    padding: 20px;
    }
    .information-header{
        gap:15px;

    }
    .quection p{
        display: block;
    }
    .musical-logo{
        padding-top: 5px;
        font-size: 28px;
    }
   nav{
    display: block;
   }

   .about-us-next-section  {
    padding-top: 150px;
    padding-left: 370px;

}
.musical-header{
    display:flex;
    gap: 350px;
    padding: 15px;
}


}