.theme .welcome-to-musical-space {
    background-color: white;
}

.theme .quection p {
    color: black;

}

.icon-icon {
    color: white;
    font-size: 18px;
}

.theme .top-information-header {
    background-color: white;
}

.theme .call-div p {
    color: black;
}

.theme .email-div span {
    color: black;
}

.theme .email-div span a {
    color: black;
}

.theme .social-media-info i {
    color: black;
}

.theme .musical-left-content-class .welcome {
    color: black;
}

.theme .musical-left-content-class .music {
    color: black;
}

.theme .best-music-class-sec {
    background-color: white;
}

.theme .best-music-tag .best-music-class {
    color: black;

}

.theme .best-music-tag .best-classes {
    color: black;

}

.theme .music-class-card-content h2 {
    color: black;
}

.theme .listen-music-anywhere-sec {
    background-color: white;

}

.theme .listen-music-anywhere-left-content-sec .listen-music {
    color: black;
}

.theme .listen-music-anywhere-left-content-sec .span-music {
    color: black;
}

.theme .listen-music-anywhere-left-content-sec .listen-music {
    color: black;
}

.theme .listen-music-anywhere-left-content-sec p {
    color: black;
}

.theme .join-the-music-sec {
    background-color: white;
}

.theme .join-the-music-content-box .join-music {
    color: black;
}

.theme .join-the-music-content-box .span-musical {
    color: black;
}

.theme .join-the-music-content-box .music-class {
    color: black;
}

.theme .join-the-music-content-tag h3 {
    color: black;
}

.theme .join-the-music-content-tag p {
    color: black;
}

.theme .subscribe-daily-sec {
    background-color: white;
}

.theme .subscribe-daily-main-sec .subscribe {
    color: black;

}

.theme .subscribe-daily-main-sec .update {
    color: black;

}

.theme .input-btn input {
    background-color: white;
    border: 1px solid black;

}

.theme .contact-us-section {
    background-color: white;
}